/* Tabs.module.css */

.tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background: orange;
  border-radius: 100px;
  width: 900px;
  max-width: 100%;
}
