/* Tabs.module.css */

.tabsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 8px;
  background: orange;
  border-radius: 100px;
}
